
.divider {
    position: relative;
    height: 7vh;
    width: 100vw;
  }
  
  /* Controls Colors  TBH I have no idea what the before and afters do to this*/
  div[class*="white-"] {
    background-color: var(--white);
    }
  
    div[class*="darkBlue-"] {
    background-color: var(--dark-blue);
    }
  
    div[class*="blue-"] {
    background-color:  rgb(10, 91, 145);
    }
  
    div[class*="lightBlue-"] {
    background-color: var(--light-blue);
    }
  
    div[class*="gray-"] {
    background-color: var(--gray);
    }
  
    div[class*="lightGray-"] {
    background-color: var(--lightGray);
    }
  
    div[class*="-blue"]::before,
    div[class*="-blue"]::after {
    background-color: var(--main-blue);
    }
  
    div[class*="-darkBlue"]::before,
    div[class*="-darkBlue"]::after {
    background-color: var(--dark-blue);
    }
  
    div[class*="-lightBlue"]::before,
    div[class*="-lightBlue"]::after {
    background-color: var(--light-blue);
    }
  
    div[class*="-white"]::before,
    div[class*="-white"]::after {
    background-color: var(--white);
    }
  
    div[class*="-gray"]::before,
    div[class*="-gray"]::after {
    background-color: var(--gray);
    }
  
    div[class*="-lightGray"]::before,
    div[class*="-lightGray"]::after {
    background-color: var(--lightGray);
    }

    /* Triangle Shaped Divider */
  .triangle::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 101%;
      width: 50%;
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
  
  .triangle::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 101%;
      width: 50%;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
      -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }