* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --light-blue: #08aef0;
  --gray: #d1cdcd;
  --white: #FFFFFF;
  --black: #000000;

}

.header {
  
  padding:4%;
  font-size: 2rem;
}
.indent{
  margin-left: 5%;
}

.gradient-background {
  color: white;
}

/* Colored Backgrounds */
[class*="-background"] {
  padding: 5%;

}

.black-background {
  background-color: black;
  color: white;
}

.blue-background {
  background-image: linear-gradient(170deg, rgb(89, 103, 116) 20%, rgb(10, 91, 145));
  color: white;
}

.green-background {
  background-image: linear-gradient(170deg, rgb(54, 189, 27) , rgb(0, 0, 0));
  color: white;
}


.orange-background {
  background: linear-gradient(to left, rgb(82, 56, 59), rgb(214, 61, 64), rgba(236, 85, 51, 0.767));
  color: black;
}

.white-background {
  background: var(--white);
  color: var(--black);

}

.red-background {
  background: var(--red);
  color: var(--white);
}

.gray-background {
  background: var(--gray);
  color: var(--black);
}



.row {
  display: flex;
  height: fit-content;
}

.black_border {
  border: 2px solid rgb(0, 0, 0);
}

.white_border {
  border: 2px solid rgb(255, 255, 255);
}

table {
  table-layout: fixed;
  width: 100%;
  max-height: 20px;

}

.col {
  float: left;
  width: 50%;
  margin-top: 10%;
}

#bingo {
  padding: 10%;
 min-height: 100vh;
 min-width: 100vw;
 
}

th,
td {
  padding: 2%
 
}

td.used {
  border-color: red;
  border-width: 2px;
  background-color: #0000008c;
}


a[class*=button] {
  font-size: 1rem;
  text-decoration: none;
  padding: 2% 3%;
  border-radius: 50px;
  margin: 0 2% 5% 0;
  display: inline-flex;
  align-items: center;
}

a[class *='white_button'] {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

a[class *='orange_button'] {
  font-size: 1.2rem;
  background-color: rgb(253, 163, 89);
  color: black;
}

a[class *='refresh_button'] {
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  color: black;
}

/*---- fun backgrounds*/
.bad-background {
  background: rgb(2, 0, 36);
  background: linear-gradient(147deg, rgba(2, 0, 36, 1) 0%, rgba(18, 18, 255, 1) 35%, rgba(0, 212, 255, 1) 100%);
  color: #ff0000
}

.joe-background {
  background-image: linear-gradient(45deg, rgba(40, 148, 42, 0.822), rgb(148, 40, 146));
  color: balck;
}

.ryan-background {
  background: linear-gradient(to right, rgba(228, 110, 31, 0.884), rgba(105, 2, 100, 0.76));
  color: rgb(255, 255, 255);
}

.amber-background {
  background: linear-gradient(147deg, rgba(90, 1, 255, 0.63), rgb(10, 91, 145));
  color: silver;
}

.viper-background{
  background-image: url('/Files/ViperBG.jpg');
  color:#FFFFFF;
  padding: 10%;
  min-height: 100vh;
  min-width: 100vw;
}
.lightning-background{
  background-image: url('/Files/lightningBG.jpg');
  min-height: 100vh;
  border-color: #d1cdcd;
  color:white;
  
}
.codeBG{
  background-image: url('/Files/codeBG.jpg');
  min-height: 50vh;
  min-width: 100vw;
}

.lightning-background::before {
	content: " ";
	position: absolute;
	top: 0%;
	left: 0%;
	width: 10%;
	height: 1%;
	background-image: url(https://www.etown.edu/etcsandbox/kyle-test/images/images-cca/homepage-news-lineart.png);
	background-size: cover;
	background-position: center;
	opacity: .3;
}




#bad_button {

  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;

}

#joe_button {
  position: absolute;
  width: 40px;
  height: 40px;

}

#ryan_button {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;


}

#amber_button {
  position: absolute;
  top: 0;
  left: auto;
  width: 40px;
  height: 40px;

}

/*----------------------------------tablet? css media stuff---------------------------------------------*/

@media only screen and (max-width: 714px) {
  h1 h2 h3 {
    font-size: .8rem;

  }

  #bingo {
    margin-bottom: 20%;
    font-size: 1.8rem;
  }

  a[class*=button] {
    font-size: 1rem;
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 50px;
    margin: 0 2% 5% 0;
    display: inline-flex;
    align-items: center;
  }

  a[class *='refresh_button'] {
    font-size: .75rem;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  .col {
    width: 100%;
  }

  body {
   background: linear-gradient(to right, rgba(90, 212, 116, 0.884), rgba(36, 40, 236, 0.76));;
  }

 .box{
   font-size: .75rem;
 }

  .header {
    font-size: 1.5rem;
  }

  

}
/*----------------------------------phone css media stuff---------------------------------------------*/

@media only screen and (max-width: 500px) {
 

  #bingo {
    margin-bottom: 20%;
    font-size: 1.8rem;
  }

  a[class*=button] {
    font-size: .9rem;
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 50px;
    margin: 0 2% 5% 0;
    display: inline-flex;
    align-items: center;
  }

  a[class *='refresh_button'] {
    font-size: .5rem;
    background-color: rgb(255, 255, 255);
    color: black;
  }

  .col {
    width: 100%;
  }

  body {
    background: black;
  }

 
  .box{
    font-size: .5rem;
  }

  .header {
    font-size: 1rem;
  }

  

}