/*
 * CS 310
 *
 * This page provides styling for the CS 310 Lab 6 web service page.
 */
body {
  font-family: sans-serif;
  font-size: 12pt;
  margin: auto auto;
  text-align: center;
  width: 80%;
}

img {
  height: 200px;
}

#cocktail-area p {
  font-style: italic;
}

#cocktail-area ul {
  margin: auto;
  text-align: left;
  width: 300px;
}

body > section {
  margin-bottom: 20px;
}

body{
  background-color: rgb(155, 188, 226);
  color: rgb(0, 0, 0);
}
